body{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
html,body{
  width: 100%;
}
.main-body{
  font-size: 1rem;
  padding: 0 10px 0 0;
  position: relative;
}
header{
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #07a2e9;
  align-items: center;
}
.header-left{
  align-items: center;
  padding: 0 .5rem;
}
.header-right{
  flex: 1;
  display: flex;
  align-items: center;
}
.header-title{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  width: 100%;
  z-index: -1;
  font-weight: 500;
  font-size: 1.2rem;
}
.header-left .fa-2x{
  vertical-align: -13%;
}
.header-right form{
  display: flex;
}
.header-right input{
  flex:1;
  font-size: .75rem;
  border-radius: 0.3rem;
  border:1px solid #d9d9d9;
  padding: .5rem;
}
.main{

}
.main-block{
  padding-top: 2.6rem;
}
.main-header{
  font-weight: bold;
}
.main-block dl{
  display: flex;
  margin: 0;
  align-items: center;
  border-bottom:1px solid #e1e1e1;
  line-height: 3;
  text-align: center;
}
.main-block dt{
  width: 10%;
  font-size: 0.75rem;
}
.main-block dd{
  margin: 0;
  line-height: 1.5;
  flex: 1;
  padding: 1rem 0;
  text-align: left;
  border-left:1px solid #fff;
  font-size: 1.1rem;
  color: #666;
}
.main-header{
  background-color: #d9d9d9;
}
.header-left button{
  border-width: 0;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #fff;
  background-color: inherit;
  padding:.2rem;
}
.header-right button{
  border-width: 0;
  color: #fff;
  padding: 0 .75rem;
  background-color: inherit;
  height: 100%;
  font-size: 1.2rem;
  display: block;
}
.example-enter{
  opacity: 0.01;
}
.example-enter.example-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.example-leave{
  opacity: 1;
}
.example-leave.example-leave-active{
  opacity: 0.01;
}
.uk-list{
  font-size: 1.1rem;
  margin-bottom: 0;
}
.uk-list li{
  line-height: 2;
}
.uk-list a{
  color: #666;
}
